<section class="footer">
    <div class="container moveclass">
<div id="footer">
    <p class="left">Novoclick<br/>Somos la autoridad de marketing digital con 18 años de experiencia y presencia en 5 países (Colombia, España, Panamá, México y Perú) con 9 millones de suscriptores, donde cocinamos las recetas que necesitas para incrementar de forma inmediata y sobresaliente el volumen de usuarios, ingresos o impac- tos de tú empresa</p>
    <p class="right">Contacto<br/>Correo: ceo@novoclick.net Teléfono: SOPORTE NOVOCLICK Panamá: (507) 391 25 64 - 6740-7458 - 6047 34 33 Miami: (1) 305 4205329 Madrid: (34) 910 603 675 México: (52) 554 169 6824 Bogotá: (57) 6130800 - 2719855 - 5331124- 2712140</p>
    <p class="centered">Siguenos en:<br/>
        <img
        class="icon"
        src="../../../../../assets/images/redes-sociales/Mesa de trabajo 64.png"
      />
      <img
      class="icon"
      src="../../../../../assets/images/redes-sociales/Mesa de trabajo 65.png"
    />
    <img
    class="icon"
    src="../../../../../assets/images/redes-sociales/Mesa de trabajo 66.png"
  />
  <img
  class="icon"
  src="../../../../../assets/images/redes-sociales/Mesa de trabajo 67.png"
/>
    <img
    class="icon"
    src="../../../../../assets/images/redes-sociales/Mesa de trabajo 68.png"
    />
    </p>
</div>
<div >
    
    <p class="centered">Siguenos en:<br/>
    
      
        <div id="contenedor">
        <form action="mailto:emailDestino@email.com" method="post" enctype="text/plain">
        <label for="nombre">Nombre: </label><input type="text" name="nombre" size="25" maxlength="50"><br><br>
        <label for="apellidos">Apellidos: </label><input type="text" name="apellidos" size="35" maxlength="100">
        <br>
        <br>
        <label for="correo">Email: </label><input type="text" value="@" name="correo" size="40" maxlength="100">
        <br>
        <br>
        <br>
        <input type="submit" value="suscribe">
        </form>   
        </div>
       


        
</div>
</div>
</section>